<!-- publications.jinja -->
<article class="publications" data-page="publications">

  <header>
    <h2 class="h2 article-title">publications</h2>
  </header>

  <section class="publications-posts">

    <ul class="publications-posts-list">

      {% for post in publications.post %}

      <li class="publications-post-item">
        <a href="{{post.url}}" target="_blank">

          <figure class="publications-banner-box">
            <img src="{{post.image}}" alt="{{post.title}}" loading="lazy">
          </figure>

          <div class="publications-content">

            <div class="publications-meta">
              <p class="publications-category">{{post.category}}</p>

              <span class="dot"></span>

              <time datetime="{{post.datetime}}">{{post.datetime | format_date}}</time>
            </div>

            <h3 class="h3 publications-item-title">{{post.title}}</h3>

            <p class="publications-text">
              {{post.subtitle}}
            </p>

          </div>

        </a>
      </li>

      {% endfor %}

    </ul>

  </section>

</article>
